<%
  # Cover component
  # - A "hero" with a full-bleed image and headline

  # Locals:
  headline ||= false # STRING: a headline, if you"d like one
  # bg_image ||= false # STRING: image for the background
  theme ||= "default" # STRING: color theme
  classes ||= false # STRING: additional utilitiy classes you"d like to pass in
  padding ||= { x: "outside", y: "xxwide" } # STRING/HASH: outside padding - see padding_classes in config.rb
  borders ||= false # STRING/ARRAY: borders - see border_classes in config.rb
  content_position ||= "default"
  header_offset ||= false
  prompt_label ||= "Our work"

  # Private
  utils = [
    "c-theme-#{theme}",
    (classes if classes)
  ]
%>

<div data-ui-cover<%= " data-ui-main-header-offset" if header_offset %><%= class_list(utils) %>>
  <div data-ui-cover-content>
    <%= yield %>
  </div>
  <p data-ui-cover-prompt class="padding-bottom-narrow t-heading t-scale-delta">
    <%= prompt_label %>
  </p>
</div>
