<%
	# Display a screenshot or image inside a device "frame"

	# source: STRING - source path for the screenshot
	sizes ||= [] # ARRAY - list of responsive sizes for the screenshot
	alt ||= "" # STRING - alt tag
	device ||= "tablet"
	orientation ||= "vertical"
	classes ||= "" # STRING - list of optional classes for the container

	ratios = {
		"tablet-vertical" => "3x4",
		"tablet-horizontal" => "4x3"
	}
%>

<figure
	data-ui-device
	data-ui-aspect="<%= ratios["#{device}-#{orientation}"] %>"
	class="has-drop-shadow"
>
	<div data-ui-aspect-content>
		<div data-ui-device-frame>
			<%= component "responsive_image", locals: {
				source: "/assets/images/devices/#{device}-#{orientation}.svg",
				data: { "ui-aspect-image": "scale-contain" }
			} %>
		</div>
		<div data-ui-device-mask>
			<%= component "responsive_image", locals: {
				source: source,
				sizes: sizes,
				alt: alt
			} %>
		</div>
	</div>
</figure>
