<!-- New name banner -->
<aside class="padding-x-outside padding-y-wide c-bg-midtone c-border-highlight border-bottom border-medium">
  <% component 'wrapper' do %>
    <h1 class="t-scale-beta t-align-center c-text-reverse"><%= data.site.name_banner.headline %></h1>
    <div class="padding-top t-align-center">
      <%= image_tag "logos/bivee-host-banner.svg", alt: "Bivee > Host", style: "max-width: 20rem;" %>
    </div>
    <div class="padding-top"><%= render_markdown(data.site.name_banner.blurb) %></div>
  <% end %>
</aside>
