// Columns component
// -> arrange content side-by-side in 2 columns
@import 'include-media';
@import '../config/breakpoints';

$ratios: (
	'50-50': 50%,
	'30-70': 30%
);

@mixin columns-variation($left-w: 50%) {
	[data-ui-columns-item~='left'] {
		width: $left-w;
		width: var(--left-col-width);
	}

	[data-ui-columns-item~='right'] {
		width: (100% - $left-w);
		width: calc(100% - var(--left-col-width));
	}
}

// --- base ---
[data-ui-columns] {
	--left-col-width: 100%;

	display: block;
	font-size: 0;
	overflow: hidden;
}

// --- elements ---
[data-ui-columns-item] {
	display: block;
	font-size: 1rem;
	max-width: 100%;
	vertical-align: top;
}

// --- variations ---
@each $name, $width in $ratios {
	@include breakpointify-attr('data-ui-columns', $value: $name, $sizes: 'small' 'medium') {
		--left-col-width: #{$width};

		@supports (display: flex) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		[data-ui-columns-item] {
			display: inline-block;

			@supports (display: flex) {
				display: block;
			}
		}

		[data-ui-columns-item~='left'] {
			order: -1;
		}

		// stylelint-disable order/order
		// -> need this to come after the rules above so it overrides
		// 50-50 default layout
		@include columns-variation($width);
		// stylelint-enable order/order
	}
}
