// =============================================================================
//  Cover
//  -> a big splashy 'book cover' for a page of content
// =============================================================================
// sass-lint:disable no-duplicate-properties
// sass-lint:disable no-vendor-prefixes
// -> need fallback/mobile min-height props for vh units

@import '../config/borders';
@import '../config/breakpoints';
@import '../config/color';
@import '../config/spacing';

// Block
// -----------------------------------------------------------------------------

[data-ui-cover] {
	display: block;
	height: 40rem;
	height: 100vh;
	position: relative;

	@supports (display: flex) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

// Elements
// -----------------------------------------------------------------------------

[data-ui-cover-content] {
	display: block;
	margin-top: -5rem;
	width: 100%;
}

[data-ui-cover-prompt] {
	$path-h: 6rem;

	bottom: $path-h;
	display: inline-block;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
	}

	&::before {
		$size: 0.6rem;

		@include color-background('text' 'primary');
		border-radius: 100000px;
		bottom: ($size * -1);
		height: $size;
		left: 50%;
		margin-left: ($size / 2 * -1);
		width: $size;
	}

	&::after {
		@include border('right', $style: 'secondary', $color: 'text' 'primary');
		// make the element the same width as the border, so it's a total of 2px wide, then scoot to the left 1px to visually center the line
		bottom: ($path-h * -1);
		height: $path-h;
		left: 50%;
		margin-left: (border-width() * -1);
		width: border-width();
	}
}
