// Device component
// -> display a screenshot or image inside a device "frame"
// -> use with fluid_aspect styles to preserve the device's aspect ratio
@import '../config/positioning';

$device-bgcolor: color('bg');

[data-ui-device] {
	--background-color: #{$device-bgcolor};
	position: relative;
}

[data-ui-device-frame] {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: z('high');
}

// defaults to 'tablet'
[data-ui-device-mask] {
	// inset the mask so it aligns with the inside edges of the device's frame
	// -> use percentages so positioning scales fluidly
	$inside-margin-y: 3.5%;
	$inside-margin-x: 4.3%;

	background-color: $device-bgcolor;
	background-color: var(--background-color);
	bottom: $inside-margin-y;
	left: $inside-margin-x;
	overflow: hidden;
	position: absolute;
	right: $inside-margin-x;
	top: $inside-margin-y;
	// add modifiers for phone, laptop

	[data-ui-device~='horizontal'] & {
		// reverse the margins for horizontal orientation
		bottom: $inside-margin-x;
		left: $inside-margin-y;
		right: $inside-margin-y;
		top: $inside-margin-x;
	}
}
