// =============================================================================
//  logo
//  -> Special styles for handling Bivee's logo on the homepage
// =============================================================================

@import '../config/breakpoints';

// Block
// -----------------------------------------------------------------------------

[data-ui-logo] {
  display: inline-block;
  width: 6rem;

  @include media('>xsmall') {
    width: 7rem;
  }

  @include media('>small') {
    width: 8rem;
  }

  @include media('>medium') {
    width: 9rem;
  }
}

// Elements
// -----------------------------------------------------------------------------

// [data-ui-logo-ELEMENT] {

// }

// Traits
// -----------------------------------------------------------------------------

// [data-ui-logo~='TRAIT'] {

// }
