// =============================================================================
//  logo
//  -> Special styles for handling Bivee's logo on the homepage
// =============================================================================

@import '../config/breakpoints';

// Block
// -----------------------------------------------------------------------------

[data-ui-logo] {
  display: inline-block;
  width: 8rem;

  @include media('>xsmall') {
    width: 10rem;
  }

  @include media('>small') {
    width: 11rem;
  }

  @include media('>medium') {
    width: 13rem;
  }
}

// Elements
// -----------------------------------------------------------------------------

// [data-ui-logo-ELEMENT] {

// }

// Traits
// -----------------------------------------------------------------------------

// [data-ui-logo~='TRAIT'] {

// }
