---
title: About us
layout: about
---

H&oslash;st means _harvest_ in Danish. To us, this means producing something new and vital &mdash; with a lot of hard work. It means going back to basics, finding ways to be more efficient and direct, and working toward a shared goal with a close-knit team.

In the design-agency world, a trend has emerged where a single company tries to do everything at once: the so-called "360" service model. We offer a different approach. We define the problem and search for the simplest solution. We walk around it, scrutinize it, dig until we’ve found the root. Sometimes we have to change direction, or re-think the problem entirely.

This requires focus, and trust. We treat our clients as close partners, working together as a single team. We treat every relationship as long-term: we consider how our work will grow alongside your organization. We want to build digital products and brands that are not only the best of their kind, but also have a life of their own.

### What we do

We are a boutique creative and digital agency, with a diverse and multi-disciplinary portfolio that includes strategic design-thinking, UI/UX and complex knowledge management apps, branding, and editorial design.

We develop beautiful, effective, innovative, and strategically-aligned design solutions from beginning to end. We combine the critical thinking of a strategy consulting firm with the design culture of an award-winning agency. We specialize in supporting international development organizations, and we offer a unique depth of understanding of their mission and challenges.

The work we do breaks down into three areas:

#### Digital platforms

- Rapid prototyping
- User research & testing
- Information architecture
- Web & mobile development
- API & CMS development
- Digital campaigns

#### Creative

- Brand strategy & design
- Art direction
- User experience and interface design
- Editorial design
- Content strategy

#### Strategy

- Product strategy
- Data & Knowledge strategy
- Business intelligence
- Organizational design
- Digital transformation
- Digitization

<div class="padding-top padding-bottom-wide no-margin">
  <%= component "button_link", locals: {
    url: "work",
    label: "Explore our work",
    icon: "arrow-right"
  } %>
</div>

### Our experience

Our team includes World Bank veterans of over 20 years, agency art directors, published authors, and technical advisors to large multinational organizations. We don’t look like your typical agency, because we aren’t.

#### Established **2013**

We have been creating digital products and brands as a company for the better part of a decade.

#### Global reach: **35+ countries**

Our team has worked in over 35 countries and has seen first-hand the contribution of our work to support the Sustainable Development Goals.

#### **100+** assignments

We have helped some of the world’s most recognizable organizations build and launch products time and time again.

#### **Diverse and inclusive**

We are majority women, come from all over the globe, and speak several languages. We think the best ideas come from diverse backgrounds.

#### **$3.6M** in project management

We are no strangers to large, mission-critical assignments and have experience managing global, multi-year projects of any size.

#### **$93M** value added

Our work has helped our clients turn products into multi-million dollar, socially-focused initiatives and organizations.
