---
title: home
---
<div class="position-relative">
  <%= component "main_header", locals: {
    overlay: true,
    theme: "wash"
  } %>
  <section class="t-align-center">
    <!-- Cover -->
    <% component "cover", locals: {
      padding: { y: "wide", x: "outside" },
      theme: "wash"
    } do %>
      <% component "wrapper", locals: {
        width: "default"
      } do %>
        <%= component "tagline" %>
      <% end %>
    <% end %>
  </section>

  <!-- Work -->
  <% component "panel", locals: { border: "none", theme: "dark" } do %>
    <% component "wrapper", locals: { width: "wide", classes: "t-align-center" } do %>
      <!-- Case study listings -->
      <%= component "projects_list", locals: { projects: data.work.projects[0...data.work.featured_projects] } %>

      <%# this button appears when there"s more than 3 case studies to display %>
      <%= component "button_link", locals: {
        label: "See more of our work",
        url: "/work",
        classes: "margin-top-wide",
        icon: "arrow-right"
      } if (data.work.projects.length > data.work.featured_projects) %>
    <% end %>
  <% end %>
</div>
